# ============================================
# قائمة المكتبات المطلوبة لتشغيل النظام
# ============================================

requests
websockets
python-dotenv
web3>=6.0.0,<7.0.0
aiohttp
aiohttp[speedups]

# مكتبة لإعادة المحاولة التلقائية
tenacity
